.fsv-dir-tree {
  flex: 1 1 20%;
  max-width: 20%;
  background-color: lightblue;
  padding: 1rem;
  overflow: auto;

  section.dynamic {
    margin-top: 2rem;

    .section-title {
      padding: 0.25rem 0.5rem;
      margin-bottom: 0.25rem;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }

  .tree-list {
    &:not(.root) {
      margin-left: 0.5rem;
    }

    .tree-directory {
      .tree-item {
        display: inline-block;
        padding: 0.25rem 0.5rem;
        margin-bottom: 0.1rem;
        &:hover {
          background-color: lightgreen;
          cursor: pointer;
        }
      }
    }
  }
}
